@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: 'Playfair Display', serif;
}
